/******************************* General ******************************/
* {
    font-family: 'Raleway', sans-serif;
    font-weight:normal;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #2b3b53;
}

.fa-solid {
    color: var(--main-color);
}

.container {
    display: flex;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    padding:0px 20px 0px 20px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 5px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/******************************* Header ******************************/

/****************** Logo *******************/
.header {
    flex-wrap: wrap;
}
h1{
    font-weight: bold;
}
/************** Logo *******************/
.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width:100px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 5px;
}

/****************** Nav ********************/
p{font-weight: normal;}


/******************************** Nav ********************************/
h2{
    font-weight: bold;
}

.links a {
    color: black; /* Couleur du texte par défaut */
    text-decoration: none; /* Supprimer le soulignement par défaut */
}

/* Lien bleu avec soulignement après survol */
.links a:hover {
    color:var(--main-color); /******* link bleu survol ******/
    border-top: solid 0.2rem var(--main-color);/*ligne bleu survol*/
    padding-top: 15px;/*valeur d'espacement de la ligne bleu*/
}
.links .first-link {
    margin-right: 100px;
}
.links .seconde-link {
    margin-right: 25px;
}
h3{
    font-weight: normal;}
/******************************* Boutton Recherche ******************************/
.search-bar {
    margin-top: 50px;
    display: flex;
}
/*********** Style de l'icône ***************/
.icone {    
    padding: 20px 20px;
    background-color: #F2F2F2;
    color:black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 18px;
}
  
/******** Style du champ de saisie **********/
.search-input {
    text-align: center;
    color:black;
    font-weight:bold;
    background-color:transparent;
    border: 1px solid #F2F2F2;
    outline:none;
    font-size: 15px;
    opacity: 100%;
}
  
/************ bouton 'Rechercher' ***********/
.search-button {
    font-weight:bold;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

/********************************* Filtre ***************************/
.conteneur-filtres {
    margin-top: 35px;
    margin-bottom: 35px;
    display:flex;
    flex-wrap: wrap;
    align-items:baseline;
    justify-content: space-between;
}
.section-recherche h3{
    font-weight: normal;
}

.button-filtre {
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    padding: 20px 20px;
    background-color:rgba(0, 0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 6px 2px;
  
}
.button-inside {
    font-weight:bold;
    background-color:transparent;
    color: black;
    border: none;
    font-size: 20px;
    
    
}
.button-filtre:hover {
    background-color: #DEEBFF;  
}

.info  {
    display: flex;
    align-items: flex-start;
}
.button-info {
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 15px 10px;
}

/*************************** Hebergements And Populaires *******************/
.hebergements-and-populaires {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px;
    box-sizing:border-box;
}

/**************************** Hebergements ***********************************/
.hebergements {
    width: 63%; 
}
.hebergements-cards {
    display:flex;
    flex-wrap:wrap; /* passage à la ligne  */
    justify-content:space-around; 
}
.hebergements-cards .card {
    margin-bottom: 2px; /* Espacement entre les lignes */
    display:flex;/*texte sous la photo*/
    flex-direction: column;
    margin-top: 33px;
    width: 250px; 
    height: 245px; 
}
.hebergements-cards img {
    width: 100%;/*remplissage de la card*/
    height: 134px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}
.hebergement-afficher-plus {
    margin-top: 35px;
    font-size: 20px;

}
/**************************** populaires ***********************************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 37%;
    height: 173px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-title {
    margin-bottom: 5px;
}

/**************************** Activites a Marseille ***********************************/

.activites-cards {
    display:flex;
    justify-content:center; 
    column-gap: 1%;
    margin-left: 10px;
    margin-bottom: 50px;
}
.activites-cards .card {
    margin-top: 15px;
    width: 80%; 
    padding: 0px 50px 5px
}
.activites-cards img {
    width: 100%;/*remplissage de la card*/
    height: 460px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activites-titel {
    margin-left: 32px;
}
/************************************** Footer ****************************************/
.footer {
    background-color: var(--main-bg-color);
    padding: 10px;
    padding: 35px;
    display:flex;
    align-content: flex-start;
    justify-content:space-between;
    }

h3{
    font-weight: bold;
}
.footer-links{
    font-weight: normal;
    margin-top: 15px;
}
ul {
    list-style: none;
    padding: 0;
}


/**************************** Media queries ***********************************/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}