/******************************* General ******************************/
* {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}



.container {
    display: flex;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
/******************************* Header ******************************/
/************** Logo *******************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width:100px;
    margin-top: 20px;
    margin-left: 10px;
}
/******************************** Nav ********************************/

.links a {
    color: black; /* Couleur du texte par défaut */
    text-decoration: none; /* Supprimer le soulignement par défaut */
}
/* Lien bleu avec soulignement après survol */
.links a:hover {
    color:var(--main-color); /******* link bleu survol ******/
    border-top: solid 0.2rem var(--main-color);/*ligne bleu survol*/
    padding-top: 10px;/*valeur d'espacement de la ligne bleu*/
}
.links .first-link {
    margin-right: 25px;
}

/******************************* Boutton Recherche ******************************/
/* Style de la barre de recherche */
.search-bar {
    display: flex;
}
/*********** Style de l'icône ***************/
.icone {    
    padding: 20px 20px;
    background-color: #F2F2F2;
    color:black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 18px;
}
  
/******** Style du champ de saisie **********/
.search-input {
    text-align: center;
    color:black;
    font-weight:bold;
    background-color:white;
    border: 1px solid #F2F2F2;
    outline:none;
    font-size: 20px;
    opacity: 100%;
}
  
/************ bouton 'Rechercher' ***********/
.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
  
/************** survol du bouton *************/
.conteneur-filtres {
    display:inline-flex;
    flex-wrap: wrap;
    align-items: center;
    border: 20px;
    
}
.button-filtre {
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    padding: 20px 20px;
    background-color:rgba(0, 0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 6px 2px;
  
}
.button-inside {
    background-color:white;
    color: black;
    border: none;
    font-size: 20px;
}
.button-filtre:hover {
    background-color: #DEEBFF;  
}

/*************************** Hebergements And Populaires *******************/
.hebergements-and-populaires {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px;
    box-sizing:border-box ;
}

/**************************** Hebergements ***********************************/
.hebergements {
    width: 65%; 
}
.hebergements-cards {
    display:flex;
    flex-wrap: wrap; /* passage à la ligne  */
    justify-content:space-around; 
}
.hebergements-cards .card {
    margin-bottom: 20px; /* Espacement entre les lignes */
    display:column;/*texte sous la photo*/
    margin-top: 33px;
    width: 250px; /* Largeur fixe */
    height: 240px; /* Hauteur fixe */
}
.hebergements-cards img {
    width: 100%;/*remplissage de la card*/
    height: 134px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;
}
.hebergements-cards .card-rating {
    margin-bottom: 5 px;
}
/**************************** populaires ***********************************/
.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 37%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 63%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 7px;
}
/**************************** Media queries ***********************************/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}